1. cat函数：字符串拼接
2. contains函数：判断某个字符串是否包含给定字符
3. startswith、endswith函数：判断字符串以xx开头/结尾
4. count函数：计算给定字符在字符串中出现次数
5. get函数：获取指定位置的字符串
6. len函数：计算字符串长度
7. upper、lower函数：英文大小写转换
8. pad+side参数/center函数：在字符串左边、右边或左右两边添加给定字符
9. Repeat函数：重复字符串几次
10. slice_replace函数：使用给定的字符串，替换指定位置的字符
11. Replace函数：将指定位置的字符，替换为给定的字符串
12. Split方法+expand参数：将一列扩展为好几列
13. strip、rstrip、lstrip函数：去除空白符、换行符
14. Findall函数：利用正则表达式，去字符串中匹配，返回查找结果的列表
15. Extract、extractall函数：接受正则表达式，抽取匹配的字符串（一定要加上括号）


### 构造数据集

In [1]:
import pandas as pd
df ={'姓名':[' 黄同学','黄至尊','黄老邪 ','陈大美','孙尚香'],
     '英文名':['Huang tong_xue','huang zhi_zun','Huang Lao_xie','Chen Da_mei','sun shang_xiang'],
     '性别':['男','women','men','女','男'],
     '身份证':['463895200003128433','429475199912122345','420934199110102311','431085200005230122','420953199509082345'],
     '身高':['mid:175_good','low:165_bad','low:159_bad','high:180_verygood','low:172_bad'],
     '家庭住址':['湖北广水','河南信阳','广西桂林','湖北孝感','广东广州'],
     '电话号码':['13434813546','19748672895','16728613064','14561586431','19384683910'],
     '收入':['1.1万','8.5千','0.9万','6.5千','2.0万']}
df = pd.DataFrame(df)
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

#### 1、cat函数

这个函数主要用于判断字符串拼接

In [2]:
df["姓名"].str.cat(df["家庭住址"],sep='-'*3)

0     黄同学---湖北广水
1     黄至尊---河南信阳
2    黄老邪 ---广西桂林
3     陈大美---湖北孝感
4     孙尚香---广东广州
Name: 姓名, dtype: object

#### 2、contains函数

这个函数主要用于判断某个字符串是否包含给定字符；

In [3]:
df["家庭住址"].str.contains("广")

0     True
1    False
2     True
3    False
4     True
Name: 家庭住址, dtype: bool

#### 3. startswith、endswith函数

这个函数主要用于判断某个字符串是否以...开头/结尾

In [4]:
# 第一个行的“ 黄伟”是以空格开头的
df["姓名"].str.startswith("黄") 
df["英文名"].str.endswith("e")

0     True
1    False
2     True
3    False
4    False
Name: 英文名, dtype: bool

#### 4. count函数

这个函数主要用于计算给定字符在字符串中出现的次数

In [5]:
df["电话号码"].str.count("3")

0    3
1    0
2    1
3    1
4    2
Name: 电话号码, dtype: int64

#### 5. get函数

这个函数主要用于获取指定位置的字符串

In [6]:
df["姓名"].str.get(-1)
df["身高"].str.split(":")
df["身高"].str.split(":").str.get(0)

0     mid
1     low
2     low
3    high
4     low
Name: 身高, dtype: object

#### 6. len函数

这个函数主要用于计算字符串长度

In [7]:
df["性别"].str.len()

0    1
1    5
2    3
3    1
4    1
Name: 性别, dtype: int64

#### 7. upper、lower函数

这个函数主要用于英文大小写转换

In [8]:
df["英文名"].str.upper()
df["英文名"].str.lower()

0     huang tong_xue
1      huang zhi_zun
2      huang lao_xie
3        chen da_mei
4    sun shang_xiang
Name: 英文名, dtype: object

#### 8. pad+side参数/center函数

这个函数主要用于在字符串的左边、右边或左右两边添加给定字符

In [9]:
df["家庭住址"].str.pad(10,fillchar="*")      # 相当于ljust()
df["家庭住址"].str.pad(10,side="right",fillchar="*")    # 相当于rjust()
df["家庭住址"].str.center(10,fillchar="*")

0    ***湖北广水***
1    ***河南信阳***
2    ***广西桂林***
3    ***湖北孝感***
4    ***广东广州***
Name: 家庭住址, dtype: object

#### 9.  repeat函数

这个函数主要用于重复字符串几次

In [10]:
df["性别"].str.repeat(3)

0                男男男
1    womenwomenwomen
2          menmenmen
3                女女女
4                男男男
Name: 性别, dtype: object

#### 10.  slice_replace函数

这个函数主要用于使用给定的字符串，替换指定的位置的字符

In [11]:
df["电话号码"].str.slice_replace(4,8,"*"*4)

0    1343****546
1    1974****895
2    1672****064
3    1456****431
4    1938****910
Name: 电话号码, dtype: object

#### 11. replace函数

这个函数主要用于将指定位置的字符，替换为给定的字符串

In [12]:
df["身高"].str.replace(":","-")

0         mid-175_good
1          low-165_bad
2          low-159_bad
3    high-180_verygood
4          low-172_bad
Name: 身高, dtype: object

这个函数还接受正则表达式，将指定位置的字符，替换为给定的字符串

In [13]:
df["收入"].str.replace("\d+\.\d+","正则")

<ipython-input-13-e0cc5e453a55>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["收入"].str.replace("\d+\.\d+","正则")

0    正则万
1    正则千
2    正则万
3    正则千
4    正则万
Name: 收入, dtype: object

#### 12.  split方法+expand参数

这个函数主要用于将一列扩展为好几列

In [14]:
# 普通用法
df["身高"].str.split(":")
# split方法，搭配expand参数
df[["身高描述","final身高"]] = df["身高"].str.split(":",expand=True)
df
# split方法搭配join方法
df["身高"].str.split(":").str.join("?"*5)

0         mid?????175_good
1          low?????165_bad
2          low?????159_bad
3    high?????180_verygood
4          low?????172_bad
Name: 身高, dtype: object

#### 13. strip、rstrip、lstrip函数

这个函数主要用于去除空白符、换行符

In [15]:
df["姓名"].str.len()
df["姓名"] = df["姓名"].str.strip()
df["姓名"].str.len()

0    3
1    3
2    3
3    3
4    3
Name: 姓名, dtype: int64

#### 14. findall函数

这个函数主要用于利用正则表达式，去字符串中匹配，返回查找结果的列表

In [16]:
df["身高"]
df["身高"].str.findall("[a-zA-Z]+")

0         [mid, good]
1          [low, bad]
2          [low, bad]
3    [high, verygood]
4          [low, bad]
Name: 身高, dtype: object

#### 15. extract、extractall函数

这个函数主要用于接受正则表达式，抽取匹配的字符串(一定要加上括号)

In [17]:
df["身高"].str.extract("([a-zA-Z]+)")
# extractall提取得到复合索引
df["身高"].str.extractall("([a-zA-Z]+)")
# extract搭配expand参数
df["身高"].str.extract("([a-zA-Z]+).*?([a-zA-Z]+)",expand=True)

      0         1
0   mid      good
1   low       bad
2   low       bad
3  high  verygood
4   low       bad